<!DOCTYPE html>
<html class="" lang="zh-cmn-Hans" style="position: static;">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="有赞,移动电商服务平台">
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="cleartype" content="on">
  <meta name="referrer" content="always">
  <link rel="shortcut icon" href="https://b.yzcdn.cn/v2/image/yz_fc.ico">
  <title>购物车</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <style>
    [v-cloak]{
      display: none !important;
    }
    .container .mint-cell-wrapper{
      padding: 0;
    }
    .container .block-list-cart .block-item-cart{
      margin-bottom: 0;
    }
    .mint-toast{
      padding: 20px 40px !important;
    }
  </style>
</head>

<body class=" body-fixed-bottom">
  <div class="container " style="min-height: 581px;" v-cloak>
    <div class="content clearfix js-page-content">
      <div id="cart-container">
        <div>
          <div class="js-shop-list shop-list">
            <div
            v-for="(list,shopIndex) in lists"
            class="block block-order block-cart">
              <div class="header">
                <div @click="chooseShop(list)"
                class="select-group js-select-group">
                  <span
                  :class="{'checked':editShop?list.removeChecked:list.checked}"
                  class="check"></span>
                </div> <a class="shop-title"><i class="custom-store-img">店铺：</i>{{list.storeName}}</a>
                <a @click="edit(list,shopIndex)"
                v-show="list.editSeen"
                href="javascript:;" data-type="cart" class="j-edit-list pull-right c-blue font-size-12 edit-list">
                  {{list.editMsg}}
                </a>
              </div>
              <div>
                <ul class="js-list block block-list block-list-cart border-0">
                  <li
                  @touchstart="start($event)"
                  @touchend="end($event,good)"
                  :ref="'good-'+ good.id"
                  :class="{'editing':list.editable}"
                  v-for="(good,goodIndex) in list.goodsLists"
                  :key="good.id"
                  class="block-item block-item-cart" style="transition: .5s">
                    <div>
                      <div @click="chooseGood(list,good)"
                      class="check-container">
                        <span :class="{'checked':editShop?good.removeChecked:good.checked}"
                        class="check"></span>
                      </div>
                      <div class="name-card clearfix">
                        <a :href="'goods.html?id='+good.id" class="thumb js-goods-link">
                          <img class="js-lazy" :src="good.img">
                          <!---->
                        </a>
                        <div class="detail">
                          <a :href="'goods.html?id='+good.id" class="js-goods-link"><h3 class="title js-ellipsis"><i>{{good.title}}</i></h3>
                          </a>
                          <p class="sku ellipsis">
                            {{good.sku}}
                          </p>
                          <!-- 正常显示状态 -->
                          <div
                          v-show="!list.editable"
                          class="num">
                            ×<span class="num-txt">{{good.skuNumber}}</span>
                            <!---->
                          </div>
                          <!-- 编辑状态 -->
                          <div
                          v-show="list.editable"
                          class="num">
                            <div class="quantity">
                              <button
                              :class="{'disabled':good.skuNumber==1}"
                              type="button" class="minus"></button>
                              <input
                              v-model.number="good.skuNumber"
                              type="text" pattern="[0-9]*" class="txt">
                              <button
                              :class="{'disabled':good.skuNumber==good.remain}"
                              type="button" class="plus"></button>
                              <div
                              @click="minusGood(good)"
                              class="response-area response-area-minus"></div>
                              <div
                              @click="plusGood(good)"
                              class="response-area response-area-plus"></div>
                            </div>
                          </div>
                          <div class="price c-orange">
                            ¥<span>{{good.price}} </span></div>
                        </div>
                        <div class="error-box"></div>
                      </div>
                      <div
                      @click="removeGood(list,shopIndex,good,goodIndex)"
                      class="delete-btn"><span>删除</span></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div style="padding:0;" class="js-bottom-opts bottom-fix">
            <div class="go-shop-tip js-go-shop-tip c-orange font-size-12">
              你需要分开结算每个店铺的商品哦~
            </div>
            <div class="bottom-cart clear-fix">
              <div @click="chooseAll()"
              class="select-all">
                <span :class="{'checked':allChoose}"
                class="check"></span> 全选
              </div>
              <!-- 正常显示状态 -->
              <div
              v-show="!editShop"
              class="total-price">
                合计：¥<span class="js-total-price" style="color: rgb(255, 102, 0);">{{totalPrice.toFixed(2)}}</span>
                <p class="c-gray-dark">不含运费</p>
              </div>
              <button
              v-show="!editShop"
              :disabled="!chooseData.length"
              class="js-go-pay btn btn-orange-dark font-size-14">
                结算 ({{chooseData.length}})
              </button>
              <!-- 编辑状态 -->
              <button
              @click="removeList()"
              v-show="editShop"
              :disabled="!removeData.length"
              class="j-delete-goods btn font-size-14 btn-red">删除
                    </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer" style="min-height: 86px;">
    <div class="copyright">
      <div class="ft-copyright " style="background-image: url(https://img.yzcdn.cn/upload_files/2016/11/15/147918630760182374.png);">
        <a class="yz-logo" href="https://www.youzan.com/?from_source=support_logo">有赞提供技术支持</a> </div>
    </div>
  </div>
</body>

</html>
