.popout-enter,.popout-leave-to{
	transform: translateY(100%);
}

.popout-enter-active {
	transition: all 0.5s ease 30ms;
}
.popout-leave-active {
	transition: all 0.3s ease;
}
.popout-enter-to,.popout-leave{
	transform: translateY(0);
}

/*mask遮罩*/
.mask-enter,.mask-leave-to{
	opacity: 0;
}

.mask-enter-active {
	transition: all 0.2s;
}
.mask-leave-active {
	transition: all 0.2s 0.2s;
}

.mask-enter-to,.mask-leave{
	opacity: 1;
}